@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body{
  font-family: 'Inter', Noto Sans, sans-serif;
  color: #313132;
  font-weight: 400;
  background-color: #f5f5f7;
}

#first-container{
  background-color: #313132;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 60px;
  border-radius:1px;
  position: sticky;
}

#main-title{
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 57px;
  color: #ffffff;
  float: left;
  font-size: 230%;
  padding-left:1vw;
  transition: 1s;
}

#main-title:hover{
  transform: scale(1.1);
}

#navigation{
  display: flex;
  margin-left: 44.5vw;
}

#navigation a{
  text-decoration: none;
  padding-right:.5vw;
  padding-left: .5vw;
  color: #ffffff;
  line-height: 40px;
  border-radius: 3px;
}

#navigation li{
  margin-top:9px;
  font-size: 140%;
  letter-spacing: 2px;
  color: inherit;
  display: inline;
  transition: 1s;
}

#navigation li:hover{
  transform: scale(1.4);
  background-color:rgba(255, 255, 255, 0.233);
  border-radius: 3px;
}

.currently-selected{
  background-color:rgba(255, 255, 255, 0.233);
  border-radius: 3px;
}

/* Image Slider  */

#first-sec{
  
}

#image-container-1{
  width:60vw;
  height:25vw;
  margin:0 auto;
  margin-top:15px;
  border: 4px ridge #313132 ;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
}

#canoeing-images-slider{
  overflow: hidden;
}

#canoeing-images-slider figure{
  position: relative;
  width:500%;
  left:0%;
  animation: 20s slider infinite;
}

#canoeing-images-slider figure img{
  width: 20%;
  float: left;
}

@keyframes slider{
  0% {
    left:0;
  }
  20%{
    left:0;
  }
  25%{
    left: -100%;
  }
  45%{
    left:-100%
  }
  50%{
    left:-200%
  }
  70%{
    left:-200%
  }
  75%{
    left:-300%
  }
  100%{
    left:-300%
  }
}
/* Image Desc */

#desc-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#image-desc{
  width:30vw;
  height:20vw;
  border-radius: 10px;
  vertical-align: top;
  margin-top:15px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display:inline-block;
  float:none;
}

#image-desc h2{
  text-align:center;
}

#image-desc p{
  text-align:center;
}

/* Hope Animation*/

.sign-up {
  width: 500px;
  height: 200px;
  color: #ffffff;
  background-color: rgba(165, 117, 243, 0.5);
  position: absolute;
  border-radius: 10px;
  text-align: center;
  margin-left: 42.4vw;
  display:inline;
  animation: reveal-hi 1s ease-in forwards 4s;
}

@keyframes reveal-hi {
  from {
    transform: translateY(0%);
    background-color: rgba(165, 117, 243, 0.5);
  }
  to{
    transform:translateY(-150px);
    background-color: rgba(122, 100, 182, 0);
  }
}