@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body{
  font-family: 'Inter', Noto Sans, sans-serif;
  color: #313132;
  font-weight: 400;
  background-color: #f5f5f7;
}

#first-container{
  background-color: #313132;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 60px;
  border-radius:1px;
  position: sticky;
}

#main-title{
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 57px;
  color: #ffffff;
  float: left;
  font-size: 230%;
  padding-left:1vw;
  transition: 1s;
}

#main-title:hover{
  transform: scale(1.1);
}

#navigation{
  display: flex;
  margin-left: 44.5vw;
}

#navigation a{
  text-decoration: none;
  padding-right:.5vw;
  padding-left: .5vw;
  color: #ffffff;
  line-height: 40px;
  border-radius: 3px;
}

#navigation li{
  margin-top:9px;
  font-size: 140%;
  letter-spacing: 2px;
  color: inherit;
  display: inline;
  transition: 1s;
}

#navigation li:hover{
  transform: scale(1.4);
  background-color:rgba(255, 255, 255, 0.233);
  border-radius: 3px;
}

.currently-selected{
  background-color:rgba(255, 255, 255, 0.233);
  border-radius: 3px;
}

/* Image Slider  */

#image-container-1{
  width:60vw;
  height:25vw;
  margin:0 auto;
  margin-top:15px;
  border: 4px ridge #313132 ;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

#canoeing-images-slider{
  overflow: hidden;
}

#canoeing-images-slider figure{
  position: relative;
  width:500%;
  left:0%;
  animation: 20s slider infinite;
}

#canoeing-images-slider figure img{
  width: 20%;
  float: left;
}

@keyframes slider{
  0% {
    left:0;
  }
  20%{
    left:0;
  }
  25%{
    left: -100%;
  }
  45%{
    left:-100%
  }
  50%{
    left:-200%
  }
  70%{
    left:-200%
  }
  75%{
    left:-300%
  }
  100%{
    left:-300%
  }
}

/* Image Desc */

#desc-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image-desc{
  width:30vw;
  height:20vw;
  border-radius: 10px;
  vertical-align: top;
  margin-top:15px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display:inline-block;
  float:none;
}

.image-desc h2{
  padding-top:25px;
  text-align: left;
  font-size: 260%;
  padding-left: 2vw;
}

.image-desc h3{
  padding-top:15px;
  text-align: left;
  font-size: 160%;
  padding-left: 2vw;
}

.image-desc p{
  text-align: left;
  font-size: 150%;
  width: 28vw;
  padding-left: 2vw;
  width: 25vw;
  font-weight: 100;
}

hr{
  padding-top:.5vw;
}

#google-map{
  width: 25vw;
  height: 15vw;
  padding-left: 2.5vw;
  padding-top: 1.2vw;
}

/* Reasons to start */

#reasons{
  font-family: inherit;
  width:80vw;
  height:18vw;
  border-radius: 10px;
  display: block;
  margin:0 auto;
  margin-top:15px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

#reasons h2{
  font-size: 230%;
  text-align: center;
  padding-top:25px;
}

.left-container{
    width: 25%;
    float: left;
    display: block;
    margin-left: 2vw;
}

.left{
  float: left;
  height: 240px;
  display: block;
  clear: both;
}

.left h3{
  font-size: 160%;
}

.left p{
  font-size: 150%;
}

.right-container{
  width: 25%;
  float: right;
  display: block;
  margin-right: 2vw;
}

.right{
  float: right;
  height: 240px;
  display: block;
  clear: both;
}

.right h3{
  font-size: 160%;
}

.right p{
  font-size: 150%;
}

.center-container{
  width: 25%;
  height: 85%;
  margin: 0 auto;
  border: 4px ridge #313132 ;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-image: url(../images/Image-6.jpg);
  overflow: hidden;
}

.sign-button {
  font-size: 4rem;
  color:#ffffff;
  background-color: #313132;
  margin: 0 auto;
  margin-top: 27%;
  display: block;
  text-decoration: none;
  border-radius: 30%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.center-container a{
  text-decoration: none;
}

.sign-button:hover{
  transform: scale(1.4);
  background-color:rgba(255, 255, 255, 0.233);
  border-radius: 3px;
}

/* Hope Animation*/

.sign-up {
  width: 1000px;
  height: 180px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  border-radius: 10px;
  text-align: center;
  margin-left: 36.4vw;
  display:inline;
  animation: reveal 1s ease-in forwards 4s;
}

.sign-up h1{
  font-size: 400%;
}

@keyframes reveal {
  from {
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.6);
  }
  to{
    transform:translateY(-350px);
    background-color: rgba(122, 100, 182, 0);
  }
}

#sign-up-form{
  font-family: inherit;
  width:450px;
  height:500px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top:15px;
  margin-left: 25vw;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

#sign-up-form div{
  padding: 15px;
}

.right h2{
  font-family: inherit;
  font-size: 160%;
}

/* events page */

#events{
  width: 70vw;
  height: 1100px;
  margin: 0 auto;
  margin-bottom:15px;
  display: block;
}

#events h2{
  font-size: 230%;
  padding-top: 15px;
}

.event-desc{
  width: 45%;
  height: 450px;
  clear: both;
  border-radius: 10px;
  margin: 0 auto;
  margin-top:15px;
  padding-left: 2vw;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  display: inline-block;
  background-color: #ffffff;
}

#image-container-2{
  width:50%;
  height:65%;
  margin:0 auto;
  margin-top: 7%;
  margin-right: 7px;
  border: 4px ridge #313132 ;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  float: left;
  overflow: hidden;
}

#location-images-slider{
  overflow: hidden;
}

#location-images-slider figure{
  position: relative;
  width:500%;
  left:0%;
  animation: 20s slider infinite;
}

#location-images-slider figure img{
  width: 20%;
  float: left;
}

@keyframes slider{
  0% {
    left:0;
  }
  30%{
    left:0;
  }
  45%{
    left: -100%;
  }
  60%{
    left:-100%
  }
  75%{
    left:-200%
  }
  100%{
    left:-200%
  }
}

.event-text > hr{
  width: 15%;
  border-top: 2px solid #313132;
}

.event-text{
  padding-top: 8%;
}

.event-text h3{
  font-size: 150%;
}

.event-text p{
  font-size: 130%;
}

/* footer */

footer{
  background-color: #313132;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  margin-top: 15px;
  width: 100vw;
  height: 60px;
  border-radius:1px;
  padding-top:15px;
}

.networks{
  text-align: center;
  font-size: 160%;
}

.networks li{
  display: inline;
}

.networks li a{
  padding-top:25px;
  font-size: 160%;
  padding: 0 5% 0 5%;
  color:#ffffff;
  transition: 1s;
}

.networks li a:hover{
  transform: scale(1.4);
  background-color:rgba(255, 255, 255, 0.233);
  border-radius: 3px;
}
